* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

/* Nav */

nav {

}

a {
  text-decoration: none;
  color: black;

}

ul {
  list-style: none;
}

.containerFlexNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  max-width: 1280px;
  margin-inline: auto;
  padding: 2rem;
}

.containerFlexNavigation {
  display: flex;
}

.logo {
}

header .logo {
  cursor: pointer;
  display: flex;
  justify-content: left;
}

.logo-text {
  font-family: 'lato', sans-serif;
  font-weight: 200;
  color: #67d8cd;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navItems, .hero-subline {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

nav li {
  margin-right: 1rem;
  white-space: nowrap;
}

.nav li:first-child a {
  color: #67d8cd;
}


/* // Nav */

/* Header */

header {
  background-size: cover;
  background-image: url(./image/photoshop/photoshop/design-assets/bgk-header.png);
  background-repeat:no-repeat;
  height:600px;
}





/* // Header*/

/* Hero */

#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 3rem; /* TWEEK VALUE*/
}

#hero-section h3 {
  /* padding: 30px; */
  
}

#hero-section h1 {
  /* padding: 30px; */
}

#hero-section button {
  /* padding-left: 300px; */

}

.heroContainer {
  /* padding-right: 200px;
  padding-bottom: 250px; 
  padding-left: 300px; */
  
}

.heroHeadline {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.heroLine {
  width:5%;
  margin: 0 auto;
  color: #67d8cd;
  border: solid 1px #67d8cd;
}

.hero-subline {
  font-size: 1rem;
  font-weight: 100;
  max-width: 20rem;
}

.section2-wrap {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  min-height: 500px;
  background-color: #f6f6f6;
}

.section2-wrap img {
    max-width: 40%;
    margin-left: 18%;
    margin-right: 15%;
}

#hero-section h1 {
  color: white;
}

#hero-section h3 {
  color: white;
  padding-bottom:2rem;
}

#hero-section h2 {
  padding-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
}

#hero-section p {
  padding-right: 25%;
  padding-bottom:4%;
}

#hero-section .btn2 {
  background-color: transparent;
  color:#67d8cd;
  border-color: #67d8cd;
  border-width: thin;
  border-style: solid;
  width: 10%;
  padding: 10px;
  font-weight: 600;
  margin: 0 auto;
  display: block;
}

#hero-section .btn {
  color:#67d8cd;
  border-color: #67d8cd;
  border-width: thin;
  border-style: solid;
  width: 18%;
  padding: 10px;
  font-weight: 600;
}

/* // Hero*/

/* Our Story */

/* // Our Story */

#watch-section {
  color: darkred;
}


#expertise-section {
  background-color: white;
  padding: 4rem 0;
}

.ex_wrapper {
  color: black;
  text-align: center;
}

.ex_wrapper h2 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.3rem;
}
.ex_wrapper h5 {
  opacity: 0.5;
  margin-bottom: 0.7rem;
}

.h {
  width: 2.5rem;
  background-color: black;
  margin-top: 1rem;
  margin-left: 48.5%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 60%;
  margin-left: 20%;
  margin-top: 3rem;
}
#gridbox img {
  width: 3rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.grid-item {
  width: 100%;
  height: 18rem;
}
#gridbox {
  /* border: 2px solid black; */
  padding: 2.5rem 2rem;
}
.grid-container .grid-item1 {
  border-right: 1px solid rgb(234, 228, 228);
  border-bottom: 1px solid rgb(234, 228, 228);
}
.grid-container .grid-item2 {
  border-right: 1px solid rgb(234, 228, 228);
  border-bottom: 1px solid rgb(234, 228, 228);
}
.grid-container .grid-item3 {
  border-bottom: 1px solid rgb(234, 228, 228);
}
.grid-container .grid-item4 {
  border-right: 1px solid rgb(234, 228, 228);
}
.grid-container .grid-item5 {
  border-right: 1px solid rgb(234, 228, 228);
}


#gridbox h4 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-family: Calibri;
  font-weight: 700;
}
#gridbox p {
  color: black;
  opacity: 0.6;
  font-family: Calibri;
  font-weight: 500;
}

#team-section {
  background: url(./image/photoshop/photoshop/design-assets/bgk-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
  width: 100%;
}
.te_inner {
  text-align: center;
  color: rgb(255, 255, 255);
  gap: 0.5rem;
  font-size: large;
}
.flex-container {
  display: flex;
  align-items: center;
  gap: 2%;
  width: 60%;
  margin-left: 20%;
  padding-top: 3rem;
}
.flexb {
  width: 25%;
  /* height: 20rem; */
  aspect-ratio: 1/1.20;
  background-color: white;
}
.namediv {
  display: flex;
  flex-direction: row;
  gap: 2%;
  margin-left: 20%;
  margin-bottom: 4rem;
  width: 60%;
  margin-left: 20%;
}
.namediv #member {
  width: 25%;
  /* height: 5rem; */
  aspect-ratio: 2.96/1;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
  font-family: calibri;
  padding-top: 1.5rem;
}
.last {
  text-align: center;
  gap: 1rem;
}
.last p {
  color: white;
  font-size: large;
}
.last button {
  padding: 1rem;
  margin: 2rem;
  margin-bottom: 0;
  background-color: transparent;
  border: 2px solid #02dfd0;
  border-radius: 3px;
  color: #02dfd0;
}

#contact_client-section {
  color: lightsalmon;
  display: grid;
  justify-content: center;
  grid-template-columns: 550px 550px;
  padding: 5rem 0 3rem 0;
}

.classA1 {
  padding-left: 5rem;
}

.classA1 h2 {
  text-transform: uppercase;
  color: black;
  padding: 0.7rem;
}

form {
  margin: 0.5rem;
}

form input {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 30em;
}

form textarea {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 30em;
}

form button {
  background-color: transparent;
  color:#67d8cd;
  border-color: #67d8cd;
  text-transform: uppercase;
  border-width: thin;
  border-style: solid;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 15%;
  border-color: #67d8cd;
  font-weight: 600;
}



#contact_client-section h2 {
  text-transform: uppercase;
  color: black;
  padding: 0.7rem;
}

#contact_client-section .client-logo {
  display: grid;
  grid-template-columns: 170px 170px;
  grid-gap: 25px;
  margin: 0.5rem;
}

footer {
  color: blueviolet;
  background-image: url(./image/photoshop/photoshop/design-assets/bgk-footer.png);
  min-height: 25rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 500px 500px 500px;
}

.footerA {
  margin: 3rem;
}

.footerA span {
  display: grid;
  grid-template-columns: 50px 50px;
  align-items: center;
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1rem;
  color: rgb(72, 188, 188);
}

.footerA p {
  padding: 1rem;
  color: whitesmoke;
}

.footerA .help {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 16px 16px 16px 0px;
}

.footerB {
  margin: 3rem;
}

.footerB h2 {
  color: whitesmoke;
  font-size: large;
  margin: 1rem;
  padding: 1rem;
}

.footerB .spanA {
  display: grid;
  grid-template-columns: 30px 300px;
  padding: 1rem;
}

.spanA p {
  color: whitesmoke;
}

.footerB .spanB {
  display: grid;
  grid-template-columns: 30px 300px;
  color: whitesmoke;
  padding-left: 0.7rem;
}

.footerC {
  margin: 3rem;
}

.footerC h2 {
  color: whitesmoke;
  font-size: large;
  margin: 1rem;
  padding: 1rem;
}

.form input {
  width: 12rem;
  background-color: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  padding: 0.5rem;
}

.form button {
  width: 4rem;
  height: 3rem;
  border: none;
  color: whitesmoke;
}

.footerC .img {
  padding: 1rem;
}

.footerC .em {
  padding: 2rem;
  color: whitesmoke;
}


/* Media Queries */

@media only screen and (min-width:100px) and (max-width:950px){
  .section2-wrap{
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .section2 {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 220px;
    position: auto;
  }

  .section2-wrap img {
    max-width: 40%;
    margin-top: 5%;
    margin-left: 18%;
    margin-right: 15%;
}


/* // Media Queries */